/** 审批节点宽度 */
$workflow-node-width: 220px;
/** 节点背景色 */
$workflow-node-bg: #fff;
/** 节点圆角大小 */
$workflow-node-radius: 5px;
/** 节点头部文字大小 */
$workflow-node-title-font-size: 12px;
/** 节点头部高度 */
$workflow-node-header-height: 30px;
/** 节点阴影 */
$workflow-node-shadow: 0 0 3px 0 #1989fa;

.node {
  width: $workflow-node-width;
  background-color: $workflow-node-bg;
  border-radius: $workflow-node-radius;
  overflow: hidden;
  &:hover {
    box-shadow: $workflow-node-shadow;
    cursor: pointer;
  }

  .node-header {
    width: 100%;
    height: $workflow-node-header-height;
    font-size: $workflow-node-title-font-size;
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
    .node-name {
      .wf-iconfont {
        margin-right: 5px;
      }
    }
  }
  .node-content {
    padding: 20px;
    font-size: 14px;
    position: relative;
    .arrow-right {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
